*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
}

/*barras superiores*/

/*descuentos*/
.superior{
    background-color: #1CD1B0;
    font-size: 0.8rem;
    padding: 2px 10px;
}

/*Textos*/
a{
    text-decoration: none;
}
li a{
    color: white;
}

h1{
    background-color: #00669F;
    color: white;
    font-weight: normal;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 0px;
}
h1:before{
    content: url(../img/logo.svg);
    padding-left: 10px;
}

/*barra de navegacion*/

nav.bar-nav{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #001D2D;
    color: white;
    height: 40px;
}
li.opciones{
    display: inline-block;
    padding: 0px 20px;
}

/*contenedor tarjetas*/

.flex-contain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*tarjetas*/

.Card{
    position: relative;
    height: 580px;
    width: 33%;
    min-width: 300px;
    max-width: 350px;
    background-color: #F3F3F3;
    border-radius: 16px;
    box-shadow: 8px 8px 5px grey;
    margin: 30px;
}

.fondo{
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0px 0px;
}

.like{
    width: 40px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.foto{
    top: -70px;
    left: 32%;
    position: relative;
    width: 120px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px grey;
}

h2.titl-position{
    position: relative;
    text-align: center;
    top: -50px;
    font-size: 1.5rem;
}
.text{
    position: relative;
    top: -50px;
    font-size: 0.9rem;
    margin: 30px;
}
button.informacion{
    background-color: #00669F ;
    color: white;
    border-radius: 5px;
    width: 180px;
    height: 50px;
    position: absolute;
    bottom: 30px;
    left: 25%;
}

/*contenedor login*/

main.flex-contain{
    min-height: calc(100vh - 138.8px);
}
section#container{
    margin: 15vh 0px;
    width: 50%;
    max-width: 500px;
}

/*añadir*/


#add{
    font-size: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    background-color:#00669F;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 60px;
    left: 90%;
    z-index: 5;
    text-align: center;
}
button#add:active{
    background-color: #001D2D;
}

/*final de pagina cards*/

footer{
    color: white;
    background-color:#00669F;
    font-family:'Roboto', sans-serif;
    font-size: 1rem;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

/* contenido forms*/

/*titulo*/

h2#sub-title{
    font-weight:900;
    font-size: 3rem;
    text-align: left;
}

/*forms*/ 
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input.estilo, select.estilo{
    width: 100%;
    height: 40px;
    padding-left: 15px;
    margin: 10px 0px;
    border: black solid 2px;
}
button#ingreso{
    width: 100%;
    height: 40px;
    margin: 30px 0px 15px 0px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #1CD1B0;
    border-radius: 20px;
}
#pregunta{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*botones registro y contacto*/
section#botones{
    display: inline-block;
    flex-wrap: wrap;
    margin-top: 50px;
}
button.acciones{
    width:48%;
    min-width: 150px;
    height: 40px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 10px;

}
button#send{
    margin-left: 8px;
    background-color: #1CD1B0;
}
button#clean{
    margin-right: 8px;
    background-color: #888888;
}


/*contactame*/
#comment{
    height: 200px;
    padding: 15px;
    margin: 10px 0px;
    border: black solid 2px;
}

/*footers*/
footer#centrado{
    display: flex;
    justify-content: center;
    align-content: center;
}

.github{
    height: 20px;
}

/*Añadir Superheroe*/

/*contenedor*/
main#contain-add{
    min-height: calc(100vh - 138.8px);
    margin:50px 0px;
}

/*titulo*/
h2.titl-add{
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 10px;
}
.deco-text{
    font-weight: lighter;
    font-size: 1rem;
    color: white;
}
.cont-add{
    background-color: #00669F;
    border-radius: 50px;
    width: 60%;
    min-width: 350px;
}
label.lbl{
    font-size: 13px;
}
.check{
    width: 17px;
    height: 17px;
}
input.add{
    margin: 10px 0px;
    border-radius: 10px;
    width: 100%;
    min-width: 90px;
    height: 50px;
    padding-left: 10px;
}
textarea#description{
    height: 200px;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
}
div.info1, div.info2{
    width: 40%;
    margin: 20px 20px;
}
label{
    color: white;
}
form.add-form{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
hr{
    height: 2px;
    background-color: white;
    margin: 15px 0px;
}
#species{
    margin: 10px 0px;
    width: 100%;
    height: 50px;
}
input[type="file"]#picture{
    margin: 25px 0px;
    width: 100%;
    display: flex;
}
#text-center{
    text-align: center;
}
button#btn-inf{
    font-weight: bold;
    font-size: 30px;
    width: 40%;
    height: 50px;
    position: relative;
    left: 30%;
    bottom: 10px;
    background-color: #1CD1B0;
    color: #001D2D;
    border-radius: 15px;
}
button#btn-inf:active{
    background-color: #001D2D;
    color: #1CD1B0;
    
}



@media (max-width:426px){
    h2#sub-title{
        font-size: 2rem;
    }
    #add{
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 80px;
        left: 80%;
        z-index: 5;
    }
    .github{
        display: none;
    }
    footer{
        display: flex;
        justify-content: center;
    }

}

@media (max-width:997px){
    section#botones{
        display: flex;
        justify-content: center;
    }
    button#registrar, button#limpiar{
        margin-left: 0px;
        margin-right: 0px;
    }
}